.productsContainer {
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
}

.productsTitle {
  font-size: 24px;
  color: rgb(51, 51, 51);
  margin-left: 15px;
  padding-top: 10px;
}

.productsSummary {
  font-size: 40px;
  margin-left: 15px;
  color: rgb(51, 51, 51);
}

.productsCards {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 15px;
}

.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }