.navbarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    background-color: #fafafa;
}

.navbarLeft {
    margin-left: 15px;
    display: flex;
    flex-direction: row;
}

.companyName {
    margin-left: 10px;
    margin-top: 15px;
    font-size: 21px;
    font-weight: bold;
}

.navbarRight {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
    margin-top: 15px;
}

.navbarRight p {
    margin-right: 15px;
}
