.carousel {
    width: 65%;
    height: auto;
    display: flex;
    justify-content: center;
}

.carouselComponent {
    display: flex;
    justify-content: center;
}

.carousel-item img {
    width: 100%;
    height: 400px;
    display: flex; 
    justify-content: center;
}